﻿@using UniversityManagementSystemApp.Models
@model UniversityManagementSystemApp.Models.Teacher

@{
    ViewBag.Title = "Save Teacher";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teacher</title>
    <style>
        body {
            background-color: #8cd6b2;
        }

        label.error {
            color: black;
            font-style: italic;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top ">

        <div class="navbar-header">

            <!--for hamburger Icon when NavBar collapses-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <div>
                @Html.ActionLink("University Management System", "Index", "index", null, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Student</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Regster New Student", "Save", "Student")</li>
                        @*<li> @Html.ActionLink("Student Information ", "ShowStudentInfo", "Student")</li>*@

                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Teacher</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Save New Teacher", "SaveTeacher", "Teacher")</li>
                        <li> @Html.ActionLink("Course Assign to Teacher", "CourseAssaignTeacher", "Department")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Department</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Save New Department", "SaveDepartment", "Department")</li>
                        <li> @Html.ActionLink("Show Department Details", "ViewDepartment", "Department")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Course</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Save New Course", "SaveCourse", "Course")</li>
                        <li> @Html.ActionLink("Show Course Statics", "ViewCourseStatics", "Department")</li>
                        <li> @Html.ActionLink("Enroll in a course", "Save", "Enroll")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Result</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Save Student Result", "SaveResult", "Enroll")</li>
                        <li> @Html.ActionLink("Show Result Statics", "ViewStudentResult", "Student")</li>

                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Class Room</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Allocate Classrooms", "AllocateClassRoom", "AllocateClassroom")</li>

                        <li> @Html.ActionLink("Show Class Schedule", "ShowClassSchedule", "ClassRoom")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Action</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("UnAssign Course", "UnassignCourses", "Department")</li>
                        <li> @Html.ActionLink("UnAllocate Classrooms", "UnAllocateClassRoom", "ClassRoom")</li>

                    </ul>
                </li>
            </ul>


        </div>
    </nav>
    <h1>Teacher</h1>
    <div>
        @using (Html.BeginForm("SaveTeacher", "Teacher", FormMethod.Post, new {id = "saveTeacherForm", @class = "form-horizontal main-center"}))
        {

            <div class="form-group">

                @Html.LabelFor(m => m.Name, new {@class = "col-md-4 control-label"})
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Name, new {@class = "form-control input-md"})
                    @Html.ValidationMessageFor(m => m.Name)
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new {@class = "col-md-4 control-label"})
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Email, new {@class = "form-control input-md"})
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address, new {@class = "col-md-4 control-label"})
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Address, new {@class = "form-control input-md"})
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ContactNo, new {@class = "col-md-4 control-label"})
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.ContactNo, new {@class = "form-control input-md"})
                    @Html.ValidationMessageFor(m => m.ContactNo)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DesignationId, new {@class = "col-md-4 control-label"})
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.DesignationId, new SelectList(ViewBag.designations, "Value", "Text"), new {@class = "form-control input-md"})
                    @Html.ValidationMessageFor(m => m.DesignationId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DepartmentId, new {@class = "col-md-4 control-label"})
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.DepartmentId, new SelectList(ViewBag.departments, "Value", "Text"), new {@class = "form-control input-md"})
                    @Html.ValidationMessageFor(m => m.DepartmentId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CreditTake, new {@class = "col-md-4 control-label"})
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.CreditTake, new {@class = "form-control input-md"})
                    @Html.ValidationMessageFor(m => m.CreditTake)
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="SaveTeacher"></label>
                <div class="col-md-4">
                    <button id="SaveTeacher" name="Save" class="btn btn-primary">Save</button>
                </div>
            </div>

        }
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4 ">
                @*@if (ViewBag.Message != null)
                {
                    <label class="label-success">@ViewBag.msg</label>
                }*@
                <label>@ViewBag.msg</label>
            </div>
        </div>
    </div>
    <footer class="container conmain-footer">
        <div class="pull-right hidden-xs">


            <strong>Copyright &copy; @DateTime.Now.Year <a href="#">2NXY</a>.</strong> All rights reserved.
        </div>
    </footer>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <footer class="container conmain-footer">
        <div class="pull-right hidden-xs">


            <strong>Copyright &copy; @DateTime.Now.Year <a href="#">2NXY</a>.</strong> All rights reserved.
        </div>
    </footer>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@

</body>
</html>