﻿@model UniversityManagementSystemApp.Models.Department
@{
    ViewBag.Title = "SaveDepartment";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveDepartment</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
<style>
    body {
        background-color: rgb(103, 152, 224);
    }
    label.error {
        color: black;
        font-style: italic;
    }
</style>
    </head>
<body>
<nav class="navbar navbar-default navbar-custom navbar-fixed-top ">

    <div class="navbar-header">

        <!--for hamburger Icon when NavBar collapses-->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <div>
            @Html.ActionLink("University Management System", "Index", "index", null, new {@class = "navbar-brand"})
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Student</span> <span class="caret"></span></a>
                <ul class="dropdown-menu bg-green-gradient" role="menu">
                    <li> @Html.ActionLink("Regster New Student", "Save", "Student")</li>
                    @*<li> @Html.ActionLink("Student Information ", "ShowStudentInfo", "Student")</li>*@

                </ul>
            </li>
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Teacher</span> <span class="caret"></span></a>
                <ul class="dropdown-menu bg-green-gradient" role="menu">
                    <li> @Html.ActionLink("Save New Teacher", "SaveTeacher", "Teacher")</li>
                    <li> @Html.ActionLink("Course Assign to Teacher", "CourseAssaignTeacher", "Department")</li>
                </ul>
            </li>
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Department</span> <span class="caret"></span></a>
                <ul class="dropdown-menu bg-green-gradient" role="menu">
                    <li> @Html.ActionLink("Save New Department", "SaveDepartment", "Department")</li>
                    <li> @Html.ActionLink("Show Department Details", "ViewDepartment", "Department")</li>
                </ul>
            </li>
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Course</span> <span class="caret"></span></a>
                <ul class="dropdown-menu bg-green-gradient" role="menu">
                    <li> @Html.ActionLink("Save New Course", "SaveCourse", "Course")</li>
                    <li> @Html.ActionLink("Show Course Statistics", "ViewCourseStatics", "Department")</li>
                    <li> @Html.ActionLink("Enroll in a course", "Save", "Enroll")</li>
                </ul>
            </li>
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Result</span> <span class="caret"></span></a>
                <ul class="dropdown-menu bg-green-gradient" role="menu">
                    <li> @Html.ActionLink("Save Student Result", "SaveResult", "Enroll")</li>
                    <li> @Html.ActionLink("Show Result Statics", "ViewStudentResult", "Student")</li>

                </ul>
            </li>
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Class Room</span> <span class="caret"></span></a>
                <ul class="dropdown-menu bg-green-gradient" role="menu">
                    <li> @Html.ActionLink("Allocate Classrooms", "AllocateClassRoom", "AllocateClassroom")</li>

                    <li> @Html.ActionLink("Show Class Schedule", "ShowClassSchedule", "ClassRoom")</li>
                </ul>
            </li>
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Action</span> <span class="caret"></span></a>
                <ul class="dropdown-menu bg-green-gradient" role="menu">
                    <li> @Html.ActionLink("UnAssign Course", "UnassignCourses", "Department")</li>
                    <li> @Html.ActionLink("UnAllocate Classrooms", "UnAllocateClassRoom", "ClassRoom")</li>
                   
                </ul>
            </li>
        </ul>


    </div>
</nav>
<h1>Save Department</h1>
<br/>
<br/>
<br/>
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />

<div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal main-center", id = "saveDepartmentForm" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Code, new {@class = "col-md-4 control-label"})
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Code, new {@class = "form-control input-md"})
            @Html.ValidationMessageFor(m => m.Code)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new {@class = "col-md-4 control-label"})
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Name, new {@class = "form-control input-md"})
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
     <div class="form-group">
            <label class="col-md-4 control-label" for="Save"></label>
            <div class="col-md-4">
                <button id="Save" name="Save" class="btn btn-primary">Save</button>
            </div>
        </div>    
     @*<div class="form-group">
           
         <div class="col-md-4">
             <input type="submit" value="Save" />
         </div>
        </div>*@
        @*<fieldset>
            <legend>Save Department</legend>
            <table>
                <tr>
                    <td> @Html.LabelFor(m => m.Code) </td>
                    <td>@Html.TextBoxFor(m => m.Code)</td>
                    <td>@Html.ValidationMessageFor(m => m.Code)</td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(m => m.Name) </td>
                    <td>@Html.TextBoxFor(m => m.Name)</td>
                    <td>@Html.ValidationMessageFor(m => m.Name)</td>
                </tr>
                <tr>
                    <td></td>
                    <td> <input type="submit" value="Save"/></td>
                </tr>*@

            @*</table>
            <label>@ViewBag.msg</label>
        </fieldset>*@
     <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4 ">
            @if (ViewBag.msg != null)
            {
                <label class="label-success">@ViewBag.msg</label>
            }
        </div>
    </div>
    }
</div>
<br/>
<br/>
<br/>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

<footer class="container conmain-footer">
        <div class="pull-right hidden-xs">


            <strong>Copyright &copy; @DateTime.Now.Year <a href="#">2NXY</a>.</strong> All rights reserved.
        </div>
    </footer>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    
</body>
    </html>
@*@model UniversityManagementSystemApp.Models.Department
        @{
            ViewBag.Title = "SaveDepartment";
        }
        @{
            Layout = null;
        }

        <!DOCTYPE html>

        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>SaveDepartment</title>
        </head>
        <body>
        <div>
            <div >

                <ul>
                    <li>@Html.ActionLink("View Department", "ViewDepartment", "Department")</li>

                </ul>






            </div>
            <div>
                @using (Html.BeginForm())
                {
                    <fieldset>
                        <legend>Save Department</legend>
                        <table>
                            <tr>
                                <td> @Html.LabelFor(m => m.Code) </td>
                                <td>@Html.TextBoxFor(m => m.Code)</td>
                                <td>@Html.ValidationMessageFor(m => m.Code)</td>
                            </tr>
                            <tr>
                                <td> @Html.LabelFor(m => m.Name) </td>
                                <td>@Html.TextBoxFor(m => m.Name)</td>
                                <td>@Html.ValidationMessageFor(m => m.Name)</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td> <input type="submit" value="Save"/></td>
                            </tr>

                        </table>
                        <label>@ViewBag.msg</label>
                    </fieldset>
                }
            </div>
        </div>
            <script src="~/Scripts/jquery-1.10.2.js"></script>

            <script src="~/Scripts/jquery.validate.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

        </body>
        </html>*@
