﻿@model System.Collections.Generic.List<UniversityManagementSystemApp.Models.Department>
@using UniversityManagementSystemApp.Models

@{
    ViewBag.Title = "ViewDepartment";
    List<Department> departments = ViewBag.departments;
}
@*@{
        Layout = null;
    }*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewDepartment</title>
    <style>
        body {
            background-color: rgb(132, 160, 184);
        }
    </style>
</head>
<body>

        <nav class="navbar navbar-default navbar-custom navbar-fixed-top ">

            <div class="navbar-header">

                <!--for hamburger Icon when NavBar collapses-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <div>
                    @Html.ActionLink("University Management System", "Index", "index", null, new { @class = "navbar-brand" })
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Student</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu bg-green-gradient" role="menu">
                            <li> @Html.ActionLink("Regster New Student", "Save", "Student")</li>
                            @*<li> @Html.ActionLink("Student Information ", "ShowStudentInfo", "Student")</li>*@

                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Teacher</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu bg-green-gradient" role="menu">
                            <li> @Html.ActionLink("Save New Teacher", "SaveTeacher", "Teacher")</li>
                            <li> @Html.ActionLink("Course Assign to Teacher", "CourseAssaignTeacher", "Department")</li>
                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Department</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu bg-green-gradient" role="menu">
                            <li> @Html.ActionLink("Save New Department", "SaveDepartment", "Department")</li>
                            <li> @Html.ActionLink("Show Department Details", "ViewDepartment", "Department")</li>
                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Course</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu bg-green-gradient" role="menu">
                            <li> @Html.ActionLink("Save New Course", "SaveCourse", "Course")</li>
                            <li> @Html.ActionLink("Show Course Statics", "ViewCourseStatics", "Department")</li>
                            <li> @Html.ActionLink("Enroll in a course", "Save", "Enroll")</li>
                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Result</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu bg-green-gradient" role="menu">
                            <li> @Html.ActionLink("Save Student Result", "SaveResult", "Enroll")</li>
                            <li> @Html.ActionLink("Show Result Statics", "ViewStudentResult", "Student")</li>

                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Class Room</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu bg-green-gradient" role="menu">
                            <li> @Html.ActionLink("Allocate Classrooms", "AllocateClassRoom", "AllocateClassroom")</li>

                            <li> @Html.ActionLink("Show Class Schedule", "ShowClassSchedule", "ClassRoom")</li>
                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Action</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu bg-green-gradient" role="menu">
                            <li> @Html.ActionLink("UnAssign Course", "UnassignCourses", "Department")</li>
                            <li> @Html.ActionLink("UnAllocate Classrooms", "UnAllocateClassRoom", "ClassRoom")</li>

                        </ul>
                    </li>
                </ul>


            </div>
        </nav>


        <div class="container">
            <br />
            <h2 class="text-center">Departments</h2>
            <hr />
            <table class="table table-striped table-hover table-bordered">
                <thead class="bg-green-active">
                    <tr class="text-black">
                        <th>Code</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Department department in departments)
                    {
                        <tr>
                            <td>@department.Code</td>
                            <td>@department.Name</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        @*</fieldset>*@
        <footer class="container conmain-footer">
            <div class="pull-right hidden-xs">
                <strong>
                    Copyright &copy; @DateTime.Now.Year
                    <a href="#">2NXY</a>.
                </strong> All rights reserved.
            </div>
        </footer>
        <script src="~/Scripts/bootstrap.min.js"></script>
    </body>
</html>

@*@using UniversityManagementSystemApp.Models

@{
    ViewBag.Title = "ViewDepartment";
    List<Department> departments = ViewBag.departments;
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewDepartment</title>
</head>
<body>
<div>
    <fieldset>
        <legend>View All Departments</legend>

        <table >
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Department department in departments)
                {
                    <tr>
                        <td>@department.Code</td>
                        <td>@department.Name</td>
                    </tr>
                }

            </tbody>
        </table>
    </fieldset>
</div>
</body>
</html>*@
