﻿
@{
    ViewBag.Title = "ShowClassSchedule";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Class Schedule</title>
    <style>
      

        body {
            background-color: #c0d0d9;
        }
    </style>
</head>
<body>
<div>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top ">

        <div class="navbar-header">

            <!--for hamburger Icon when NavBar collapses-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <div>
                @Html.ActionLink("University Management System", "Index", "index", null, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Student</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Regster New Student", "Save", "Student")</li>
                        @*<li> @Html.ActionLink("Student Information ", "ShowStudentInfo", "Student")</li>*@

                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Teacher</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Save New Teacher", "SaveTeacher", "Teacher")</li>
                        <li> @Html.ActionLink("Course Assign to Teacher", "CourseAssaignTeacher", "Department")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Department</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Save New Department", "SaveDepartment", "Department")</li>
                        <li> @Html.ActionLink("Show Department Details", "ViewDepartment", "Department")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Course</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Save New Course", "SaveCourse", "Course")</li>
                        <li> @Html.ActionLink("Show Course Statics", "ViewCourseStatics", "Department")</li>
                        <li> @Html.ActionLink("Enroll in a course", "Save", "Enroll")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Result</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Save Student Result", "SaveResult", "Enroll")</li>
                        <li> @Html.ActionLink("Show Result Statics", "ViewStudentResult", "Student")</li>

                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Class Room</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Allocate Classrooms", "AllocateClassRoom", "AllocateClassroom")</li>

                        <li> @Html.ActionLink("Show Class Schedule", "ShowClassSchedule", "ClassRoom")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Action</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("UnAssign Course", "UnassignCourses", "Department")</li>
                        <li> @Html.ActionLink("UnAllocate Classrooms", "UnAllocateClassRoom", "ClassRoom")</li>

                    </ul>
                </li>
            </ul>


        </div>
    </nav>
</div>

    <div>
        <h3> Class Schedule</h3>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", id = "viewStudentResult" }))
        {

            <div class="form-group">

                <label class="col-md-4 control-label" for="departmentId">Select Department</label>
                <div class="col-md-4">
                    <select class="form-control" name="departmentId" id="departmentId">
                        <option value="">--Select--</option>
                        @foreach (var department in ViewBag.Departments)
                        {
                            <option value="@department.Id">@department.Code</option>
                        }
                    </select>



                </div>

            </div>
        }

    </div>

    <table id="myTable" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Name</th>
                <th>Schedule Info</th>
            </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
    <footer class="container conmain-footer">
        <div class="pull-right hidden-xs">


            <strong>Copyright &copy; @DateTime.Now.Year <a href="#">2NXY</a>.</strong> All rights reserved.
        </div>
    </footer>
    @section scripts
    {
        <script>
            $(document).ready(function () {
                $("#myTable").hide();
                $("#departmentId").change(function () {
                    var deptId = $("#departmentId").val();
                    $("#myTable").show();
                    $("#tableBody").empty();
                    var json = { departmentId: deptId };
                    $.ajax({
                        type: "POST",
                        url: '/ClassRoom/GetCoursesByDepartmentId',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),
                        success: function (data) {

                            $.each(data, function (key, value) {


                                $("#tableBody").append('<tr><td>' + value.Code + '</td><td>' + value.Name + '</td><td>' + value.RoomInfo + '</td></tr>');

                            });
                        }
                    });
                });
            });
        </script>
    }



</body>
</html>
