﻿@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>University Management System</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/themes/home.css" rel="stylesheet" />
    <style>
        body {
            background-color: #4cf28b;
            /*background-image:  url("~/Content/img/pattern-2965760_960_720.png" );*/
        }

        .row.fix {
            display: flex;
            flex-wrap: wrap;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <h1>
                University management System
            </h1>

        </div>

        <div class="row fix">
            <div class="[ col-sm-4  col-md-3 ]">
                <div class="[ info-card ]">
                    <img style="width: 100%"
                         src="~/Content/images/study.png" width="250" height="200" />
                    <div class="[ info-card-details ] animate">
                        <div class="[ info-card-header ]">
                            <h1> Student </h1>
                        </div>

                        <div>
                            @Html.ActionLink("Regster New Student", "Save", "Student", null, new { @class = "btn btn-primary" })

                            @*@Html.ActionLink("Show Information", "ShowStudentInfo", "Student", null, new { @class = "btn btn-primary" })*@
                        </div>
                    </div>
                </div>
            </div>

            <div class="[ col-sm-4  col-md-3 ]">
                <div class="[ info-card ]">
                    <img style="width: 100%" src="~/Content/images/teacher.png" width="250" height="200" />
                    <div class="[ info-card-details ] animate">
                        <div class="[ info-card-header ]">
                            <h1> Teacher </h1>
                        </div>
                        @Html.ActionLink("Save New Teacher", "SaveTeacher", "Teacher", null, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Course Assign to Teacher", "CourseAssaignTeacher", "Department", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>


            <div class="[ col-sm-4  col-md-3 ]">
                <div class="[ info-card ]">
                    <img style="width: 100%" src="~/Content/images/depart.png" width="250" height="200" />
                    <div class="[ info-card-details ] animate">
                        <div class="[ info-card-header ]">
                            <h1> Department </h1>
                        </div>

                        @Html.ActionLink("Save New Department", "SaveDepartment", "Department", null, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Show Department Details", "ViewDepartment", "Department", null, new { @class = "btn btn-primary" })

                    </div>
                </div>
            </div>

            <div class="[ col-sm-4  col-md-3 ]">
                <div class="[ info-card ]">
                    <img style="width: 100%" src="~/Content/images/course.png" width="250" height="200" />
                    <div class="[ info-card-details ] animate">
                        <div class="[ info-card-header ]">
                            <h1> Course </h1>
                        </div>
                        @Html.ActionLink("Save New Course", "SaveCourse", "Course", null, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Show Course Statics", "ViewCourseStatics", "Department", null, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Enroll in a course", "Save", "Enroll", null, new { @class = "btn btn-primary" })


                    </div>
                </div>
            </div>
        </div>
        <div class="[ col-sm-4  col-md-3 ]">
            <div class="[ info-card ]">
                <img style="width: 100%" src="~/Content/images/result.png" width="250" height="200" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1> Result </h1>
                    </div>
                     @Html.ActionLink("Save Student Result", "SaveResult", "Enroll",null, new { @class = "btn btn-primary" })


                    @Html.ActionLink("Show Result Statics", "ViewStudentResult", "Student", null, new { @class = "btn btn-primary" })

                </div>
            </div>
        </div>
        <div class="[ col-sm-4  col-md-3 ]">
            <div class="[ info-card ]">
                <img style="width: 100%" src="~/Content/images/classroom.png" width="250" height="200" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1> ClassRoom </h1>
                    </div>


                    @Html.ActionLink("Allocate Classrooms", "AllocateClassRoom", "AllocateClassroom", null, new { @class = "btn btn-primary" })

                    @Html.ActionLink("Show Class Schedule", "ShowClassSchedule", "ClassRoom", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>


        <div class="[ col-sm-4  col-md-3 ]">
            <div class="[ info-card ]">
                <img style="width: 100%" src="~/Content/images/task.png" width="250" height="200" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1> Action </h1>
                    </div>

                    @Html.ActionLink("UnAssign Course ", "UnassignCourses", "Department", null, new { @class = "btn btn-primary" })

                    @Html.ActionLink("UnAllocate Classrooms", "UnAllocateClassRoom", "ClassRoom", null, new { @class = "btn btn-primary" })

                </div>
            </div>
        </div>
    </div>

    <footer class="container conmain-footer">
        <div class="pull-right hidden-xs">


            <strong>Copyright &copy; @DateTime.Now.Year <a href="#">2NXY</a>.</strong> All rights reserved.
        </div>
    </footer>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
