﻿@using UniversityManagementSystemApp.Models

@{
    ViewBag.Title = "SaveResult";
}


<!DOCTYPE html>

<html>
<head>
   
    <meta name="viewport" content="width=device-width" />
    <title>Save Result</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        label.error {
            color: red;
            font-style: italic;
        }
    
    body {
        background-color: #c08eea;
    }

    </style >
    
</head>
<body>
    <div>
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top ">

            <div class="navbar-header">

                <!--for hamburger Icon when NavBar collapses-->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <div>
                    @Html.ActionLink("University Management System", "Index", "index", null, new { @class = "navbar-brand" })
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Student</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu bg-green-gradient" role="menu">
                            <li> @Html.ActionLink("Regster New Student", "Save", "Student")</li>
                            @*<li> @Html.ActionLink("Student Information ", "ShowStudentInfo", "Student")</li>*@

                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Teacher</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu bg-green-gradient" role="menu">
                            <li> @Html.ActionLink("Save New Teacher", "SaveTeacher", "Teacher")</li>
                            <li> @Html.ActionLink("Course Assign to Teacher", "CourseAssaignTeacher", "Department")</li>
                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Department</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu bg-green-gradient" role="menu">
                            <li> @Html.ActionLink("Save New Department", "SaveDepartment", "Department")</li>
                            <li> @Html.ActionLink("Show Department Details", "ViewDepartment", "Department")</li>
                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Course</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu bg-green-gradient" role="menu">
                            <li> @Html.ActionLink("Save New Course", "SaveCourse", "Course")</li>
                            <li> @Html.ActionLink("Show Course Statics", "ViewCourseStatics", "Department")</li>
                            <li> @Html.ActionLink("Enroll in a course", "Save", "Enroll")</li>
                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Result</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu bg-green-gradient" role="menu">
                            <li> @Html.ActionLink("Save Student Result", "SaveResult", "Enroll")</li>
                            <li> @Html.ActionLink("Show Result Statistics", "ViewStudentResult", "Student")</li>

                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Class Room</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu bg-green-gradient" role="menu">
                            <li> @Html.ActionLink("Allocate Classrooms", "AllocateClassRoom", "AllocateClassroom")</li>

                            <li> @Html.ActionLink("Show Class Schedule", "ShowClassSchedule", "ClassRoom")</li>
                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Action</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu bg-green-gradient" role="menu">
                            <li> @Html.ActionLink("UnAssign Course", "UnassignCourses", "Department")</li>
                            <li> @Html.ActionLink("UnAllocate Classrooms", "UnAllocateClassRoom", "ClassRoom")</li>

                        </ul>
                    </li>
                </ul>


            </div>
        </nav>
    </div>
<h2>Student</h2>

<div>

    <fieldset>
        <legend>Save Student Result</legend>
        <form class="form-horizontal" method="POST" id="SaveResult">

            <div class="form-group">
                <label class="control-label col-sm-2" for="Id">Reg No</label>
                <div class="col-sm-6">
                    <select id="Id" name="Id" class="form-control" onchange="">
                        <option value="">Select</option>

                        @foreach (Student student in ViewBag.students)
                        {
                            <option value="@student.Id">@student.RegNo</option>
                        }


                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="Name">Name</label>
                <div class="col-sm-6">
                    <input id="Name" name="Name" disabled="disabled"/>

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="Email">Email</label>
                <div class="col-sm-6">
                    <input id="Email" name="Email" disabled="disabled"/>

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="Code">Department</label>
                <div class="col-sm-6">
                    <input id="Code" name="Code" disabled="disabled"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="CourseId">Select Course</label>
                <div class="col-sm-6">
                    <select id="CourseId" name="CourseId" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Grade">Grade</label>
                <div class="col-sm-6">
                    <select id="Grade" name="Grade" class="form-control">
                        <option value="">Select</option>
                        <option value="A+">A+</option>
                        <option value="A">A</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B">B</option>
                        <option value="B-">‎B-</option>
                        <option value="C+">‎C+</option>
                        <option value="C">‎C</option>
                        <option value="C-">C-</option>
                        <option value="D+">‎D+</option>
                        <option value="D">‎D</option>
                        <option value="D-">‎D-</option>

                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </div>
        </form>
    </fieldset>
    @if (ViewBag.msg != null)
    {
        <label>@ViewBag.msg</label>
    }
</div>
    <footer class="container conmain-footer">
        <div class="pull-right hidden-xs">


            <strong>Copyright &copy; @DateTime.Now.Year <a href="#">2NXY</a>.</strong> All rights reserved.
        </div>
    </footer>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>

@section scripts{


    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <script>
        $(document).ready(function() {
            $("#Id").change(function() {
                var id = $("#Id").val();
                $("#Name").empty();
                $("#Email").empty();
                $("#Code").empty();
                $("#CourseId").empty();
                $("#CourseId").append('<option value="">Select</option>');
                var json = { Id: id };
                $.ajax({
                    type: "POST",
                    url: '/Enroll/GetStudentInformation',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        $("#Name").val(data.Name);
                        $("#Email").val(data.Email);
                        $("#Code").val(data.Code);
                        $.each(data.Courses, function(key, value) {
                            $("#CourseId").append('<option value="' + value.Id + '">' + value.Name + '</option>');

                        });
                    }
                });
            });

            $("#SaveResult").validate({
                rules: {
                    Id: "required",
                    CourseId: "required",
                    Grade: "required"

                },
                messages: {
                    Id: "Please select Student Reg No",
                    CourseId: "Please select any Course",
                    Grade: "Please select any grade"
                }
            });

        });
    </script>
}
</body>
</html>
