﻿@model UniversityManagementSystemApp.Models.Student


@{
    ViewBag.Title = "Register";

}

@section style
{
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
 <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <style>
     body {
        background-color: #4ed691;
        
    }

     .field-validation-error {
        font-style: italic;
        color: black;
    }
    </style>



}


@*<h3>Student</h3>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">


        <li>@Html.ActionLink("Register", "Save", "Student")</li>
        <li>@Html.ActionLink("Save Result", "SaveResult", "Enroll")</li>
        <li>@Html.ActionLink("View Result", "ViewStudentResult", "Student")</li>
        <li>@Html.ActionLink("Enroll", "Save", "Enroll")</li>
    </ul>

</div>
<h4>Register</h4>*@
<div>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top ">

        <div class="navbar-header">

            <!--for hamburger Icon when NavBar collapses-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <div>
                @Html.ActionLink("University Management System", "Index", "index", null, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Student</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Regster New Student", "Save", "Student")</li>
                        @*<li> @Html.ActionLink("Student Information ", "ShowStudentInfo", "Student")</li>*@

                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Teacher</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Save New Teacher", "SaveTeacher", "Teacher")</li>
                        <li> @Html.ActionLink("Course Assign to Teacher", "CourseAssaignTeacher", "Department")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Department</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Save New Department", "SaveDepartment", "Department")</li>
                        <li> @Html.ActionLink("Show Department Details", "ViewDepartment", "Department")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Course</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Save New Course", "SaveCourse", "Course")</li>
                        <li> @Html.ActionLink("Show Course Statics", "ViewCourseStatics", "Department")</li>
                        <li> @Html.ActionLink("Enroll in a course", "Save", "Enroll")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Result</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Save Student Result", "SaveResult", "Enroll")</li>
                        <li> @Html.ActionLink("Show Result Statics", "ViewStudentResult", "Student")</li>

                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Class Room</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Allocate Classrooms", "AllocateClassRoom", "AllocateClassroom")</li>

                        <li> @Html.ActionLink("Show Class Schedule", "ShowClassSchedule", "ClassRoom")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Action</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("UnAssign Course", "UnassignCourses", "Department")</li>
                        <li> @Html.ActionLink("UnAllocate Classrooms", "UnAllocateClassRoom", "ClassRoom")</li>

                    </ul>
                </li>
            </ul>


        </div>
    </nav>
  <h4>Register</h4>  
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal main-center", id = "saveStudentForm" }))
    {

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-md" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-md" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ContactNo, new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control input-md" })
                @Html.ValidationMessageFor(m => m.ContactNo)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="Date">Date</label>
            <div class="col-md-4">
                <input id="Date" name="Date" type="text" placeholder="dd-mm-yyyy" class="form-control input-md">

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DepartmentId, new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                @Html.DropDownListFor(x => x.DepartmentId, new SelectList(ViewBag.Departments, "Value", "Text"), new { @class = "form-control input-md" })
                @Html.ValidationMessageFor(m => m.DepartmentId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = "col-md-4 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control input-md" })
                @Html.ValidationMessageFor(m => m.Address)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="Register"></label>
            <div class="col-md-4">
                <button id="Register" name="Register" class="btn btn-primary">Register</button>
            </div>
        </div>

    }
    <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4 ">
            @if (ViewBag.Message != null)
            {
                <label class="label-success">@ViewBag.Message</label>
            }
        </div>
    </div>

</div>
<footer class="container conmain-footer">
    <div class="pull-right hidden-xs">


        <strong>Copyright &copy; @DateTime.Now.Year <a href="#">2NXY</a>.</strong> All rights reserved.
    </div>
</footer>
    
<script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
 
        @*<script src="~/Scripts/bootstrap-datepicker.min.js"></script>*@
@section Scripts {
@*<script src="~/Scripts/bootstrap.js"></script>*@

<script src="~/Scripts/bootstrap-datepicker.min.js"></script>

        <script>
            $(document).ready(function () {

                $("#Date").datepicker({
                    dateFormat: 'dd-mm-yy',
                    changeMonth: true,
                    yearRange: '1990:2030',
                    changeYear: true,
                    gotoCurrent: true,
                    weekStart: 6,

                   autoclose: true


                }).datepicker('setDate', "0");

                //$('#Date').datepicker({
                //    format: "dd-mm-yyyy",
                //    weekStart: 6,

                //    autoclose: true,


                //});

            });

        </script>

    }













































