﻿@using UniversityManagementSystemApp.Models

@{

    Student student = ViewBag.Student;

}


<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <title>ShowStudentInfo</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <style>
        body {
            background-color: #cbbdc3;

        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-custom navbar-fixed-top ">

    <div class="navbar-header">

        <!--for hamburger Icon when NavBar collapses-->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <div>
            @Html.ActionLink("University Management System", "Index", "index", null, new {@class = "navbar-brand"})
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Student</span> <span class="caret"></span></a>
                <ul class="dropdown-menu bg-green-gradient" role="menu">
                    <li> @Html.ActionLink("Regster New Student", "Save", "Student")</li>
                    @*<li> @Html.ActionLink("Student Information ", "ShowStudentInfo", "Student")</li>*@

                </ul>
            </li>
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Teacher</span> <span class="caret"></span></a>
                <ul class="dropdown-menu bg-green-gradient" role="menu">
                    <li> @Html.ActionLink("Save New Teacher", "SaveTeacher", "Teacher")</li>
                    <li> @Html.ActionLink("Course Assign to Teacher", "CourseAssaignTeacher", "Department")</li>
                </ul>
            </li>
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Department</span> <span class="caret"></span></a>
                <ul class="dropdown-menu bg-green-gradient" role="menu">
                    <li> @Html.ActionLink("Save New Department", "SaveDepartment", "Department")</li>
                    <li> @Html.ActionLink("Show Department Details", "ViewDepartment", "Department")</li>
                </ul>
            </li>
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Course</span> <span class="caret"></span></a>
                <ul class="dropdown-menu bg-green-gradient" role="menu">
                    <li> @Html.ActionLink("Save New Course", "SaveCourse", "Course")</li>
                    <li> @Html.ActionLink("Show Course Statics", "ViewCourseStatics", "Department")</li>
                    <li> @Html.ActionLink("Enroll in a course", "Save", "Enroll")</li>
                </ul>
            </li>
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Result</span> <span class="caret"></span></a>
                <ul class="dropdown-menu bg-green-gradient" role="menu">
                    <li> @Html.ActionLink("Save Student Result", "SaveResult", "Enroll")</li>
                    <li> @Html.ActionLink("Show Result Statics", "ViewStudentResult", "Student")</li>

                </ul>
            </li>
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Class Room</span> <span class="caret"></span></a>
                <ul class="dropdown-menu bg-green-gradient" role="menu">
                    <li> @Html.ActionLink("Allocate Classrooms", "AllocateClassRoom", "AllocateClassroom")</li>

                    <li> @Html.ActionLink("Show Class Schedule", "ShowClassSchedule", "ClassRoom")</li>
                </ul>
            </li>
            <li class="dropdown ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Action</span> <span class="caret"></span></a>
                <ul class="dropdown-menu bg-green-gradient" role="menu">
                    <li> @Html.ActionLink("UnAssign Course", "UnassignCourses", "Department")</li>
                    <li> @Html.ActionLink("UnAllocate Classrooms", "UnAllocateClassRoom", "ClassRoom")</li>

                </ul>
            </li>
        </ul>


    </div>
</nav>
<h1> Student Information</h1>
    <dl class="dl-horizontal main-center ">
        <dt>
            <label class="col-md-4 control-label" for="Name">Name</label>
        </dt>

        <dd>
            <label class="col-md-4 control-label" for="Name">@student.Name</label>
        </dd>
        <dt>
            <label class="col-md-4 control-label" for="Email">Email</label>

        </dt>

        <dd>
            <label class="col-md-4 control-label" for="Email">@student.Email</label>
        </dd>
        <dt>
            <label class="col-md-4 control-label" for="ContactNo">Contact No.</label>
        </dt>

        <dd>
            <label class="col-md-4 control-label" for="ContactNo">@student.ContactNo</label>
        </dd>
        <dt>
            <label class="col-md-4 control-label" for="Department">Department</label>
        </dt>

        <dd>
            <label class="col-md-4 control-label" for="Department">@student.Department</label>
        </dd>
        <dt>
            <label class="col-md-4 control-label" for="RegNo">Reg No.</label>
        </dt>

        <dd>
            <label class="col-md-4 control-label" for="RegNo">@student.RegNo</label>
        </dd>
        <dt>
            <label class="col-md-4 control-label" for="Address">Address</label>
        </dt>

        <dd>
            <label class="col-md-4 control-label" for="Address">@student.Address</label>
        </dd>
    </dl>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</body>
</html>
