﻿
@using UniversityManagementSystemApp.Models
@model UniversityManagementSystemApp.Models.Student
@{
    ViewBag.Title = "ViewStudentResult";
    List<Student> studentRegNos = ViewBag.RegNos;
}
<link href="~/Content/Site.css" rel="stylesheet" />
<style>
    
    body {
        background-color: #c08eea;
    }
</style>

<div>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top ">

        <div class="navbar-header">

            <!--for hamburger Icon when NavBar collapses-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <div>
                @Html.ActionLink("University Management System", "Index", "index", null, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Student</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Regster New Student", "Save", "Student")</li>
                        @*<li> @Html.ActionLink("Student Information ", "ShowStudentInfo", "Student")</li>*@

                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Teacher</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Save New Teacher", "SaveTeacher", "Teacher")</li>
                        <li> @Html.ActionLink("Course Assign to Teacher", "CourseAssaignTeacher", "Department")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Department</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Save New Department", "SaveDepartment", "Department")</li>
                        <li> @Html.ActionLink("Show Department Details", "ViewDepartment", "Department")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Course</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Save New Course", "SaveCourse", "Course")</li>
                        <li> @Html.ActionLink("Show Course Statics", "ViewCourseStatics", "Department")</li>
                        <li> @Html.ActionLink("Enroll in a course", "Save", "Enroll")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Result</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Save Student Result", "SaveResult", "Enroll")</li>
                        <li> @Html.ActionLink("Show Result Statics", "ViewStudentResult", "Student")</li>

                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Class Room</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("Allocate Classrooms", "AllocateClassRoom", "AllocateClassroom")</li>

                        <li> @Html.ActionLink("Show Class Schedule", "ShowClassSchedule", "ClassRoom")</li>
                    </ul>
                </li>
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span> Action</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-green-gradient" role="menu">
                        <li> @Html.ActionLink("UnAssign Course", "UnassignCourses", "Department")</li>
                        <li> @Html.ActionLink("UnAllocate Classrooms", "UnAllocateClassRoom", "ClassRoom")</li>

                    </ul>
                </li>
            </ul>


        </div>
    </nav>
</div>


<h4>View Result</h4>
<br>
<form class="form-horizontal" id="ViewResultForm" method="POST">

    <div class="form-group">
        <label class="col-md-4 control-label" for="studentId">
            Student Reg. No.
        </label>

        <div class="col-md-4">
            <select class="form-control" name="studentId" id="studentId">
                <option value="">--Select--</option>
                @foreach (var student in studentRegNos)
                {
                    <option value="@student.Id">@student.RegNo</option>
                }
            </select>

        </div>

    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="Name">Name</label>

        <div class="col-md-4">

            <input readonly type="text" class="form-control" id="Name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="Email">Email</label>

        <div class="col-md-4">

            <input readonly type="text" class="form-control" id="Email">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label" for="Department">Department</label>

        <div class="col-md-4">

            <input readonly type="text" class="form-control" id="Department">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="MakePdf"></label>
        <div class="col-md-4">
            @*<a href="@Url.Action("GeneratePdf", "Student")">*@<button type="submit" id="MakePdf" name="MakePdf" class="btn btn-primary">Make PDF</button>@*</a>*@
        </div>
    </div>
</form>
<div class="form-group">
    <label class="col-md-4 control-label"></label>
    <div class="col-md-4 ">
        @if (ViewBag.Message != null)
        {
            <label class="label-success">@ViewBag.Message</label>
        }
    </div>
</div>



<table id="resultTable" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Course Code</th>
            <th>Name</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody id="tableBody"></tbody>
</table>
<footer class="container conmain-footer">
    <div class="pull-right hidden-xs">


        <strong>Copyright &copy; @DateTime.Now.Year <a href="#">2NXY</a>.</strong> All rights reserved.
    </div>
</footer>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#resultTable").hide();
            $("#studentId").change(function () {
                var stdId = $("#studentId").val();
                $("#resultTable").show();
                $("#tableBody").empty();
                var json = { studentId: stdId };
                $.ajax({
                    type: "POST",
                    url: '/Student/GetStudentInfoById',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {

                        $("#Name").val(data.Name);
                        $("#Email").val(data.Email);
                        $("#Department").val(data.Department);
                    }
                });
                $.ajax({
                    type: "POST",
                    url: '/Student/GetStudentResultByStudentId',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {

                        $.each(data, function (key, value) {


                            $("#tableBody").append('<tr><td>' + value.CourseCode + '</td><td>' + value.CourseName + '</td><td>' + value.Grade + '</td></tr>');

                        });
                    }
                });
            });
        });
    </script>
}
